@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@User.Identity.AuthenticationType

@foreach(var user in User.Claims)
{
    <p>@user.Type - @user.Value </p>
    
  }